@font-face {
  font-family: 'TT Lakes';
  font-weight: 400;
  font-style: normal;
  src: url("../font/TTLakes-Regular.woff2") format("woff2"), url("../font/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  font-style: normal;
  src: url("../font/TTLakes-Medium.woff2") format("woff2"), url("../font/TTLakes-Medium.woff") format("woff");
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  font-style: normal;
  src: url("../font/TTLakes-Bold.woff2") format("woff2"), url("../font/TTLakes-Bold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html * {
  outline-color: #B8FFEC;
}

p, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #F8F8F8;
}

.main {
  max-width: 320px;
}

@media (min-width: 768px) {
  .main {
    min-width: 768px;
  }
}

@media (min-width: 1120px) {
  .main {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.button-default {
  border: none;
  background: none;
  display: block;
}

.header {
  background-color: #ffffff;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
}

.header__logo {
  position: relative;
}

.header__form-order {
  margin-left: 17px;
}

.header__logo--delimiter::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -17px;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.header__phone {
  display: none;
}

.header__chat {
  display: none;
}

.header__profile {
  display: none;
}

.header__container {
  padding: 16px 16px;
}

.header--shadow {
  -webkit-box-shadow: 0px 1px 0px 0px #d9fff5;
          box-shadow: 0px 1px 0px 0px #d9fff5;
}

@media (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .header__burger {
    position: relative;
  }
  .header__logo {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    padding-left: 42px;
  }
  .header__logo--delimiter::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -21px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    display: none;
  }
  .header__burger--delimiter::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -17px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }
  .header__phone {
    display: block;
  }
  .header__chat {
    display: block;
    padding: 0 16px;
  }
  .header__profile {
    display: block;
    position: relative;
    padding-right: 40px;
  }
  .header__profile--delimiter::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 10px;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }
  .header__form-order {
    padding-right: 16px;
  }
  .header__container {
    padding: 16px 16px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}

.title {
  font-family: "TT Lakes";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.chapter {
  position: relative;
  padding-left: 16px;
}

.chapter__title--decor-line::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0px 5px 5px 0px;
}

.chapter__title {
  margin-top: 24px;
}

.menu-desktop {
  display: none;
}

@media (min-width: 1120px) {
  .chapter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 32px;
    padding-left: 32px;
  }
  .chapter__title {
    margin: 0;
    padding-top: 42px;
  }
  .chapter__title--decor-line::before {
    top: 42px;
  }
  .chapter__menu-desktop {
    padding-top: 42px;
  }
  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
  }
  .menu-desktop__form-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 32px;
  }
  .menu-desktop__description-order {
    padding: 10px 8px;
    outline-color: #B8FFEC;
    border-radius: 6px;
  }
  .menu-desktop__check-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-desktop__description-status {
    padding: 10px 8px;
    outline-color: #B8FFEC;
    border-radius: 6px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  z-index: 98;
  background-color: #ffffff;
  opacity: 0.9;
}

.overlay--visually-toggle {
  display: none;
}

.mobile-menu--visually-toggle {
  display: none;
}

.mobile-menu {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  z-index: 99;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.mobile-menu__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding-top: 19px;
  padding-left: 18px;
  padding-right: 24px;
}

.mobile-menu__header-item {
  position: relative;
  padding-right: 17px;
}

.mobile-menu__chek-status {
  margin-left: auto;
}

.mobile-menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  padding-left: 24px;
  max-width: 320px;
  margin-top: 46px;
}

.mobile-menu__item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding: 8px 0px;
  color: #7E7E82;
  letter-spacing: -0.2px;
  margin-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-menu__item:hover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -23px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 0px 5px 5px 0px;
}

.mobile-menu__link {
  display: block;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2;
  color: #7E7E82;
  text-decoration: none;
  outline: none;
}

.mobile-menu__link:focus::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -23px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 0px 5px 5px 0px;
}

.mobile-menu__menu-footer {
  margin-top: 252px;
}

.menu-footer {
  background-color: #ffffff;
  padding-left: 24px;
  font-family: 'TT Lakes';
  letter-spacing: -0.2px;
}

.menu-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__btn {
  padding: 0;
}

.menu-footer__btn--position {
  padding: 0 16px;
}

.menu-footer__link-mail {
  display: inline-block;
  margin-top: 12px;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.menu-footer__link-phone {
  display: inline-block;
  margin-top: 4px;
  color: #1B1C21;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
  text-decoration: none;
}

.menu-footer__lang {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 36px;
  color: #1B1C21;
  margin-bottom: 32px;
}

.container {
  padding: 0px 16px;
  overflow-x: hidden;
}

@media (min-width: 1120px) {
  .container {
    padding-left: 32px;
  }
}

.menu__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  letter-spacing: -0.2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #7E7E82;
  letter-spacing: -0.2px;
  margin: 3px 0;
  outline-color: #B8FFEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__item-additional-services {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 20px 0px 0px;
}

.menu__item-devices {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__item-devices:focus {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #ffffff;
}

@media (min-width: 768px) {
  .menu__lists {
    overflow-x: hidden;
  }
  .menu__item-additional-services {
    margin: 0;
  }
  .menu__item-price {
    display: block;
  }
  .menu__item-special-price {
    display: block;
    position: relative;
  }
  .menu__item-brands {
    margin-left: 4px;
  }
}

@media (min-width: 1120px) {
  .menu__lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 8px;
    padding-left: 3px;
  }
  .menu__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 6px 13px;
  }
  .menu__item-additional-services {
    display: none;
  }
  .menu__item-contact {
    display: block;
  }
  .menu__item-reviews {
    display: block;
  }
}

.description__text-about {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  max-height: 90px;
  margin-top: 24px;
  overflow: hidden;
}

.container--location {
  max-height: 125px;
  overflow: hidden;
  padding: 0;
}

.flex-container {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 768px) {
  .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .description__text-about {
    display: inline-block;
    width: 312px;
    margin-top: 0;
    margin-right: 48px;
    line-height: 20px;
    font-weight: 400;
    max-height: 160px;
    letter-spacing: 0.2px;
  }
  .description__text-about--padding-btm {
    padding-bottom: 15px;
  }
  .description__button {
    margin-top: 4px;
    padding: 10px;
  }
  .container--location {
    margin-top: 52px;
    padding-right: 0;
    max-height: 160px;
    overflow: hidden;
  }
}

@media (min-width: 1120px) {
  .description__text-about {
    width: 490px;
  }
  .description__text-about--padding-btm {
    padding-bottom: 25px;
  }
  .description__button {
    margin-top: 13px;
  }
  .container--location {
    padding-right: 0;
    overflow: visible;
  }
}

.read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  outline-color: #B8FFEC;
}

.read-more__arrow {
  margin-top: 6px;
  margin-right: 13px;
}

@media (min-width: 768px) {
  .read-more__arrow {
    margin-top: 9px;
  }
}

@media (min-width: 1120px) {
  .read-more__arrow {
    margin-top: 7px;
  }
}

.promo-img {
  min-height: 176px;
}

.promo-img--bground-img {
  background-image: url("../../../img/bgImg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 35px;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .promo-img {
    min-height: 259px;
    min-width: 360px;
  }
  .promo-img--bground-img {
    margin-top: 40px;
    margin-right: 25px;
    margin-bottom: 40px;
    border-radius: 5px;
  }
}

@media (min-width: 1120px) {
  .promo-img {
    min-height: 307px;
    min-width: 531px;
  }
  .promo-img--bground-img {
    margin-bottom: 40px;
    border-radius: 5px;
    margin-right: 30px;
  }
}

.repair__slider {
  position: relative;
  overflow-x: hidden;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 38px;
}

.repair__slider-pagination {
  position: absolute;
}

.repair__logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repair__read-more {
  display: none;
}

@media (min-width: 371px) {
  .repair__slider-pagination {
    display: none;
  }
}

@media (min-width: 768px) {
  .repair__slider {
    padding-bottom: 0;
  }
  .repair__logo-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 24px;
    padding-right: 12px;
    height: 190px;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .repair__logo-list--overflow {
    overflow-y: visible;
    -webkit-transition: overflow-y 2s ease;
    transition: overflow-y 2s ease;
  }
  .repair__logo-item {
    margin-right: 12px;
    margin-bottom: 16px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .repair__read-more {
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 34px;
    padding: 0;
    display: block;
  }
}

@media (min-width: 1120px) {
  .repair__logo-item {
    margin-left: 16px;
    margin-right: 16px;
  }
  .repair__read-more {
    margin-left: 39px;
    display: block;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .repair-tech {
    padding-left: 24px;
    padding-right: 24px;
  }
  .repair-tech__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .repair-tech__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 224px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-top: 24px;
    padding: 16px;
  }
  .repair-tech__title-card {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .repair-tech__link {
    text-decoration: none;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .repair-tech__read-more {
    margin-top: 24px;
    margin-bottom: 33px;
  }
}

@media (min-width: 1120px) {
  .repair-tech__item {
    width: 240px;
  }
  .repair-tech__read-more {
    margin-bottom: 50px;
  }
}

.partner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0;
  width: 224px;
  padding: 13px 16px;
  border: 1px solid #EAEAEA;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .partner-logo {
    width: 224px;
    height: 72px;
  }
}

@media (min-width: 1120px) {
  .partner-logo {
    width: 240px;
  }
}

.section-name {
  background-image: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(93%, #ffffff));
  background-image: linear-gradient(270deg, #F8F8F8 0%, #ffffff 93%);
  -webkit-box-shadow: 0px 2px 4px -3px rgba(65, 246, 215, 0.62) inset;
          box-shadow: 0px 2px 4px -3px rgba(65, 246, 215, 0.62) inset;
}

.section-name__title {
  text-transform: uppercase;
  font-family: 'TT Lakes';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  padding: 16px;
}

@media (min-width: 768px) {
  .section-name__title {
    padding-left: 24px;
  }
}

@media (min-width: 1120px) {
  .section-name__title {
    padding-left: 32px;
  }
}

.footer {
  max-width: 320px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(93%, #ffffff));
  background-image: linear-gradient(270deg, #F8F8F8 0%, #ffffff 93%);
  -webkit-box-shadow: 0px 2px 4px -3px rgba(65, 246, 215, 0.62) inset;
          box-shadow: 0px 2px 4px -3px rgba(65, 246, 215, 0.62) inset;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__item {
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #7E7E82;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.footer__copy {
  margin-top: 18px;
}

.footer__text-info {
  margin-bottom: 19px;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 25px;
  }
  .footer__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 218px;
    margin: 0;
  }
  .footer__year-copy {
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__text-copy {
    white-space: nowrap;
  }
  .footer__politics {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    white-space: nowrap;
    width: 214px;
  }
  .footer__info {
    width: 213px;
  }
  .footer__text-info {
    margin-bottom: 0;
    text-align: right;
  }
}

@media (min-width: 1120px) {
  .footer {
    max-width: 1120px;
    padding: 32px 33px 21px 31px;
  }
  .footer__info {
    width: 330px;
  }
}

.hide-js {
  display: none;
}
