$header: #ffffff;
$mbg: #F8F8F8;
$title: #1B1C21;
$textm: #7E7E82;
$active: #B8FFEC;
$decor: #41F6D7;
$lgray: #F8F8F8;
$bglogoPartners: #ffffff;
$borderLogoPartners: #EAEAEA;
$sectionTitleBg: #ffffff;
$repCard: #ffffff;
$priceOrderBtn: #ffffff;
$bgColorOrderBtn: #FF3E79;
$bgColorPriceBox: #ffffff;
$bgPopup: #ffffff;
$popupTextPlaceholder: #B5B6BC;