@import "_vars.scss";
@import "_fonts.scss";

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html * {
    outline-color: $active;
}

p, h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    background-color: $mbg;
}

.main {
    max-width: 320px;
}

@media (min-width: 768px) {
    .main {
        min-width: 768px;
    }
}

@media (min-width: 1120px) {
    .main {
        max-width: 1120px;
        margin: 0 auto;
    }
}

@import "common.blocks/header/header";
@import "common.blocks/chapter/chapter";
@import "common.blocks/header/mobile-menu";
@import "common.blocks/menu/menu";
@import "common.blocks/description/description";
@import "common.blocks/read-more/read-more";
@import "common.blocks/promo-img/promo-img";
@import "common.blocks/repair/repair";
@import "common.blocks/partner-logo/partner-logo";
@import "common.blocks/section-title/section-title";