.read-more {
    position: relative;
    &__arrow {
        padding-left: 10px;
    }
    &__text {
        display: inline-block;
        font-family: "TT Lakes";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-left: 10px;
        margin-top: 19px;
        margin-bottom: 19px;
        color: $title;
    }

    &__text--arrow::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        
    }
}

@media (min-width: 768px) {
    .read-more {
        &__text {
            margin-top: 9px;
        }
    }
}