.menu {
    &__lists {
        display: flex;
        white-space: nowrap;
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
        letter-spacing: -0.2px;
        box-sizing: border-box;
    }

    &__link {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        color: $textm;
        letter-spacing: -0.2px;
        margin: 3px 0;
        outline-color: $active;
        box-sizing: border-box;
    }

    &__item-additional-services {
        position: relative;
        box-sizing: border-box;
        margin: 0px 20px 0px 0px;
    }

    &__item-devices {
        box-sizing: border-box;
    }

    &__item-devices:focus {
        border: 2px solid $active;
        border-radius: 6px;
        background: $header;
    }
}

@media (min-width: 768px) {
    .menu {
        &__lists {
            overflow-x: hidden;
        }

        &__item-additional-services {
            margin: 0;
        }

        &__item-price {
            display: block;
        }
    
        &__item-special-price {
            display: block;
            position: relative;
        }

        &__item-brands {
            margin-left: 4px;
        }
    }
}

@media (min-width: 1120px) {
    .menu {
        &__lists {
            flex-wrap: wrap;
            margin-top: 8px;
        }

        &__link:hover {
            border: 2px solid $active;
            border-radius: 6px;
            background: $header;
            box-sizing: border-box;
            padding: 6px 13px;
        }

        &__item-additional-services {
            display: none;
        }

        &__item-contact {
            display: block;
        }

        &__item-reviews {
            display: block;
        }
    }
}