.menu {

    &__lists {
        display: flex;
        white-space: nowrap;
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px;
        letter-spacing: -0.2px;
    }

    &__lists a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        color: $textm;
        letter-spacing: -0.2px;
    }

    // &__item-brands {
    //     display: none;
    // }

    &__item-additional-services {
        position: relative;
        box-sizing: border-box;
        margin: 0px 20px 0px 0px;
    }

    // &__item-additional-services::after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 10px; 
    //     height: 100%;
    //     width: 167px;
    //     background-image: linear-gradient(to right, rgba(248, 248, 248, 0.705), white);
    // }

    &__item-devices {
        box-sizing: border-box;
    }

    .menu__item-devices--hover {
        border: 2px solid $active;
        border-radius: 6px;
        background: $header;
    }

    // &__item-price {
    //     display: none;
    // }

    // &__item-contact {
    //     display: none;
    // }

    // &__item-special-price {
    //     display: none;
    // }

    // &__item-reviews {
    //     display: none;
    // }
}

@media (min-width: 768px) {
    .menu {

        &__item-additional-services {
            margin: 0;
        }

        &__item-additional-services::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 10px; 
            height: 100%;
            width: 167px;
            background-image: linear-gradient(to right, rgba(248, 248, 248, 0.705), white);
            display: none;
        }
        
        &__item-price {
            display: block;
        }
    
        &__item-special-price {
            display: block;
            position: relative;
        }

        &__item-special-price::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 10px; 
            height: 100%;
            width: 46px;
            background-image: linear-gradient(to right, rgba(248, 248, 248, 0.705), white);
        }
    }
}

@media (min-width: 1120px) {
    .menu {
        &__lists {
            flex-wrap: wrap;
            margin-top: 8px;
        }
        &__lists a {
            padding: 8px 21px;
        }
        &__item-additional-services {
            display: none;
        }
        &__item-brands {
            display: block;
            border: 2px solid $active;
            border-radius: 6px;
            background: $header;
        }

        &__item-contact {
            display: block;
        }

        &__item-reviews {
            display: block;
        }

        &__item-special-price::after {
            display: none;
        }
        .menu__item-devices--hover {
            border: none;
            border-radius: none;
            background: transparent;
        }
    }
}