.title {
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $title;
}
.chapter {
    position: relative;
    padding-left: 16px;
    &__title--decor-line::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 4px;
        height: 40px;
        background-color: $decor;
        border-radius: 0px 5px 5px 0px;
    }
    &__title {
        margin-top: 24px;
    }
}
